USE master
GO
create database quanlykhachsandemo2304
go
use quanlykhachsandemo2304
go
create table tbl_nhanvien
(
	MANHANVIEN nvarchar(10) primary key ,
	TENNHANVIEN NVARCHAR(100),
	SODIENTHOAI CHAR(15),
	DIACHI NVARCHAR(200),
	NGAYSINH DATE,
	GIOITINH NVARCHAR(10),
)

INSERT tbl_nhanvien(MANHANVIEN,TENNHANVIEN,SODIENTHOAI,DIACHI,NGAYSINH,GIOITINH)
VALUES (N'NV01',N'Trần Trung Kiên',N'0961781080',N'Bắc Giang','19990809',N'NAM')
INSERT tbl_nhanvien(MANHANVIEN,TENNHANVIEN,SODIENTHOAI,DIACHI,NGAYSINH,GIOITINH)
VALUES (N'NV02',N'Phạm Quốc Huy',N'081239811',N'Vĩnh Phúc','19980102',N'NAM')
INSERT tbl_nhanvien(MANHANVIEN,TENNHANVIEN,SODIENTHOAI,DIACHI,NGAYSINH,GIOITINH)
VALUES (N'NV03',N'Phan Văn tuyên',N'037182920',N'Hà Nội','19981001',N'NAM')
GO

create table tbl_taikhoan
(
	USENAME NVARCHAR(50) PRIMARY KEY,
	PASS NVARCHAR (20),
	MANHANVIEN NVARCHAR(10),
	FOREIGN KEY (MANHANVIEN) REFERENCES tbl_nhanvien(MANHANVIEN)
)
INSERT tbl_taikhoan(USENAME,PASS,MANHANVIEN)
VALUES (N'kien',N'1',N'NV01')
INSERT tbl_taikhoan(USENAME,PASS,MANHANVIEN)
VALUES (N'huy',N'2',N'NV02')
INSERT tbl_taikhoan(USENAME,PASS,MANHANVIEN)
VALUES (N'tuyen',N'3',N'NV03')

GO
CREATE TABLE tbl_khachhang
(
	MAKHACHHANG nVARCHAR(10) PRIMARY KEY,
	TENKHACHHANG NVARCHAR(200),
	SODIENTHOAI CHAR(15)UNIQUE,
	SOCMND CHAR(10) UNIQUE,
	DIACHI NVARCHAR(200),
	GIOITINH NVARCHAR(10),
)
INSERT tbl_khachhang(MAKHACHHANG,TENKHACHHANG,SODIENTHOAI,SOCMND,DIACHI,GIOITINH)
VALUES (N'KH01',N'Lương Xuân Hiếu',N'096192893',N'12223871',N'Thái Bình',N'NAM')
INSERT tbl_khachhang(MAKHACHHANG,TENKHACHHANG,SODIENTHOAI,SOCMND,DIACHI,GIOITINH)
VALUES (N'KH02',N'Hoàng Tiến Việt',N'098129879',N'12222131',N'Hà Nội',N'NAM')
INSERT tbl_khachhang(MAKHACHHANG,TENKHACHHANG,SODIENTHOAI,SOCMND,DIACHI,GIOITINH)
VALUES (N'KH03',N'Nguyễn Ngọc Ánh',N'091331141',N'12123123',N'Hà Nội',N'NỮ')
GO


CREATE TABLE tbl_dichvu
(
	MADICHVU nVARCHAR(10) PRIMARY KEY,
	TENDICHVU NVARCHAR(200),
	DONVITINH NVARCHAR(15),
	GIA MONEY,
)
INSERT tbl_dichvu(MADICHVU,TENDICHVU,DONVITINH,GIA)
VALUES (N'DV01',N'Cô Ca',N'lon',N'20000')
INSERT tbl_dichvu(MADICHVU,TENDICHVU,DONVITINH,GIA)
VALUES (N'DV02',N'Pepsi',N'lon',N'20000')
INSERT tbl_dichvu(MADICHVU,TENDICHVU,DONVITINH,GIA)
VALUES (N'DV03',N'Nước Lavie',N'chai',N'15000')
GO

CREATE TABLE tbl_phong
(
	MAPHONG nVARCHAR(10) PRIMARY KEY,
	LOAIPHONG NVARCHAR(100),
	GIAPHONG MONEY,
	DONVITINH NVARCHAR(10) DEFAULT N'Ngày',
	TINHTRANG NVARCHAR(50) 
	
)
INSERT tbl_phong(MAPHONG,LOAIPHONG,GIAPHONG,DONVITINH,TINHTRANG)
VALUES (N'P101',N'Thường đơn',N'150000',N'Ngày',N'Trống')
INSERT tbl_phong(MAPHONG,LOAIPHONG,GIAPHONG,DONVITINH,TINHTRANG)
VALUES (N'P102',N'Thường đôi',N'200000',N'Ngày',N'Trống')
INSERT tbl_phong(MAPHONG,LOAIPHONG,GIAPHONG,DONVITINH,TINHTRANG)
VALUES (N'P201',N'Thường đơn',N'150000',N'Ngày',N'Trống')
GO

CREATE TABLE tbl_phieuthuephong
(
	MAPHIEUTHUE nVARCHAR(10) PRIMARY KEY,
	MANHANVIEN nVARCHAR(10),
	MAKHACHHANG nVARCHAR(10),
	NGAYDEN DATE,
	NGAYDI DATE,
	MAPHONG nVARCHAR(10),
	FOREIGN KEY (MAKHACHHANG) REFERENCES tbl_khachhang(MAKHACHHANG),
	FOREIGN KEY (MANHANVIEN) REFERENCES tbl_nhanvien(MANHANVIEN),
	FOREIGN KEY (MAPHONG) REFERENCES tbl_phong(MAPHONG)
)
INSERT tbl_phieuthuephong(MAPHIEUTHUE,MANHANVIEN,MAKHACHHANG,NGAYDEN,NGAYDI,MAPHONG)
VALUES (N'PTP01',N'NV01',N'KH02',N'20200316',N'20200317',N'P101')
INSERT tbl_phieuthuephong(MAPHIEUTHUE,MANHANVIEN,MAKHACHHANG,NGAYDEN,NGAYDI,MAPHONG)
VALUES (N'PTP02',N'NV03',N'KH01',N'20200321',N'20200322',N'P302')
GO
CREATE TABLE tbl_hoadon
(
	MAHOADON nVARCHAR(10) PRIMARY KEY,
	MAPHIEUTHUE nVARCHAR(10),
	MANHANVIEN nVARCHAR(10),
	MAKHACHHANG nVARCHAR(10),
	MAPHONG nVARCHAR(10),
	NGAYTHANHTOAN DATE,
	TIENPHONG MONEY,
	TINHTRANG NVARCHAR(50)  DEFAULT N'Chưa thanh toán'
	FOREIGN KEY (MAPHIEUTHUE) REFERENCES tbl_phieuthuephong(MAPHIEUTHUE)
)
INSERT tbl_hoadon(MAHOADON,MAPHIEUTHUE,MANHANVIEN,MAKHACHHANG,MAPHONG,NGAYTHANHTOAN,TIENPHONG,TINHTRANG)
VALUES (N'HD01',N'PTP01',N'NV01',N'KH02',N'P101',N'20200317',N'150000',N'Chưa thanh toán')
INSERT tbl_hoadon(MAHOADON,MAPHIEUTHUE,MANHANVIEN,MAKHACHHANG,MAPHONG,NGAYTHANHTOAN,TIENPHONG,TINHTRANG)
VALUES (N'HD02',N'PTP02',N'NV03',N'KH01',N'P302',N'20200322',N'350000',N'Chưa thanh toán')
GO
CREATE TABLE tbl_hoadondichvu
(
	MAHOADONDICHVU nVARCHAR(10) PRIMARY KEY,
	MAKHACHHANG nVARCHAR(10),
	THOIGIANLAP DATE,
	TONGTIENDICHVU MONEY,
)
GO
CREATE TABLE tbl_chitietdichvu
(
	MACHITIETDV  int unique identity(1,1) ,
	MAHOADONDICHVU nVARCHAR(10),
	MADICHVU nVARCHAR(10),
	GIADV MONEY,
	SOLUONG INT,
	TIENDICHVU MONEY
	PRIMARY KEY (MACHITIETDV),
	FOREIGN KEY (MAHOADONDICHVU) REFERENCES tbl_hoadondichvu(MAHOADONDICHVU),
	FOREIGN KEY (MADICHVU) REFERENCES tbl_dichvu(MADICHVU)
)
GO






